BallDetection/__pycache__/coco_utils.cpython-39.pyc
BallDetection/__pycache__/Dataset.cpython-39.pyc
BallDetection/__pycache__/engine.cpython-39.pyc
BallDetection/__pycache__/Model.cpython-39.pyc
BallDetection/__pycache__/Net.cpython-39.pyc
BallDetection/__pycache__/ParseData.cpython-39.pyc
BallDetection/__pycache__/transforms.cpython-39.pyc
BallDetection/__pycache__/utils.cpython-39.pyc
BallDetection/__pycache__/coco_eval.cpython-39.pyc
